.calculatorContainer{
    display: flex;
    flex-direction: column;
    width:fit-content
}
.calculatorButtons{
    display:flex;
}
.leftButtons,.rightButtons{
    display:flex;
    flex-direction: column;
}
.buttonRow{
    display:flex;
}

.numberButton, .operatorButton, .otherButton {
    display: flex;
    height: 100px;
    width: 100px;
    color: white;
    background-color: black;
}

.inputField, .myConsole{
    
    display: flex;
    
    width: 100%;
}
.inputField{
    height: 100px;
    background-color: green;
}
.myConsole{
    height: 20px;
    background-color: grey;
}
#zero, #clear {
    width:100%;
}

.operatorButtons {
    display:flex;
    flex-direction: column;
}
